---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3d2ba117-b674-42b8-b64d-66efaeacfa42/dh70q96-16bb203d-3ce0-44c2-af8a-7ab2540431b6.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNkMmJhMTE3LWI2NzQtNDJiOC1iNjRkLTY2ZWZhZWFjZmE0MlwvZGg3MHE5Ni0xNmJiMjAzZC0zY2UwLTQ0YzItYWY4YS03YWIyNTQwNDMxYjYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Qvd8s-fFLCtFGT0qmCoKQbIVbF4s2IEcsXfR6Gmz-Ho" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Yo</title>
	</head>
	<body>
		<h1>Yomali</h1>
		<p>Yo</p>

	</body>
</html>
